<div class="iepage">
    <div class="space" ng-dropover="bob" ng-dropover-options="{'position':'bottom-center','triggerEvent':'hover'}">
        <button class="regular-button">Hover bottom-center</button>
        <div ng-dropover-contents>
            Dropover contents
        </div>
    </div>
    <div class="space" ng-dropover="bob" ng-dropover-options="{'position':'bottom-right','triggerEvent':'click'}">
        <button class="regular-button">Click bottom-right</button>
        <div ng-dropover-contents>
            Dropover contents
        </div>
    </div>
    <div class="space" ng-dropover ng-dropover-options="{'position':'right-top','triggerEvent':'click'}">
        <button class="regular-button">Click right-top</button>
        <div ng-dropover-contents>
            Dropover contents
        </div>
    </div>
    <div class="space" ng-dropover ng-dropover-options="{'position':'left-center','triggerEvent':'click'}">
        <button class="regular-button">Click left-center</button>
        <div ng-dropover-contents>
            Dropover contents
        </div>
    </div>
    <div>
        <div class="col-xs-3">
            <div class="remote-button">
                <button class="regular-button" ng-dropover-trigger="{'triggerEvent':'click', 'targetId':'myDropover'}">Remote Click</button>
                <div class="info">Uses the ngDropoverTrigger directive (recommended)</div>
            </div>
            <br>
            <div class="remote-button">
                <button class="regular-button" id="hover">Remote Hover</button>
            </div>
            <div class="info">Manually fires the ngDropover.open event</div>
        </div>
        <div class="col-xs-9">
            <div class="space" ng-dropover="myDropover" ng-dropover-options="{{ doOptions1 }}">
                ng-dropover 1
                <div ng-dropover-contents>
                    <div>Any content at all!</div>
                </div>
            </div>
            <div class="space" ng-dropover="myDropover" ng-dropover-options="{{ doOptions1 }}">
                ng-dropover 2
                <div ng-dropover-contents>
                    <div>Any content at all!</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"></div>
    <div class="space" ng-dropover ng-dropover-options="{position: 'bottom'}">
        <button class="regular-button">Default</button>
        <div ng-dropover-contents>
            <div>Any content at all!</div>
        </div>
    </div>
    <div class="space css3" ng-dropover ng-dropover-options="{position: 'bottom'}">
        <button class="regular-button">CSS3</button>
        <div ng-dropover-contents>
            <div>Any content at all!</div>
        </div>
    </div>
    <div class="space" ng-dropover ng-dropover-options="{position: 'bottom', groupId: 'jqueryGroup'}">
        <button class="regular-button">jQuery</button>
        <div ng-dropover-contents>
            <div>Any content at all!</div>
        </div>
    </div>
    <div class="wrapper row">
        <div class="col-xs-6 form-container">
            <div class="space" ng-dropover="playground" ng-dropover-options="{position: 'bottom-left'}">
                <button class="regular-button">Open the Form</button>
                <div class="dropover" ng-dropover-contents>
                    <form name="formDropover" class="form" role="form" method="POST" novalidate autocomplete="off">
                        <label>Input 1:</label>
                        <input type="text" ng-model="$parent.input1">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-6 result-container">
            <div>Input: {{input1}}</div>
        </div>
    </div>
    <div class="wrapper row">
        <div class="space" ng-dropover ng-dropover-options="{'triggerEvent':'hover', 'verticalOffset': 10}">
            <button class="regular-button">Arrowed Tooltip</button>
            <div ng-dropover-contents class="arrowed">
                <div>Any content at all!</div>
            </div>
        </div>
    </div>
    <div class="wrapper row">
        <div>{{selectedItem}}</div>
        <nav>
            <ul>
                <li>
                    <div ng-dropover ng-dropover-options="{'triggerEvent':'hover', 'closeOthersOnOpen':false}">
                        <div>Products</div>
                        <div class="menu-item" ng-dropover-contents>
                            <div class="menu-items-border arrowed">
                                <div class="menu-contents-item" ng-click="onItemClick('Products Item - 1')">Products Item - 1</div>
                                <div class="menu-contents-item" ng-dropover ng-dropover-options="{'triggerEvent':'hover', 'closeOthersOnOpen':false, 'position':'right-bottom', 'verticalOffset':'-53'}">Products Item - 2 &nbsp; >>
                                    <div class="menu-item sub-menu-items" ng-dropover-contents>
                                        <div class="menu-items-border">
                                            <div class="menu-contents-item" ng-click="onItemClick('Products Item2 - 1')">Products Item2 - 1</div>
                                            <div class="menu-contents-item" ng-click="onItemClick('Products Item2 - 2')">Products Item2 - 2</div>
                                            <div class="menu-contents-item" ng-click="onItemClick('Products Item2 - 3')">Products Item2 - 3</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="menu-contents-item" ng-click="onItemClick('Products Item - 3')">Products Item - 3</div>
                                <div class="menu-contents-item" ng-click="onItemClick('Products Item - 4')">Products Item - 4</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div ng-dropover ng-dropover-options="{'triggerEvent':'hover', 'closeOthersOnOpen':false}">
                        <div>Services</div>
                        <div class="menu-item" ng-dropover-contents>
                            <div class="menu-items-border arrowed">
                                <div class="menu-contents-item" ng-click="onItemClick('Services Item - 1')">Services Item - 1</div>
                                <div class="menu-contents-item" ng-click="onItemClick('Services Item - 2')">Services Item - 2</div>
                                <div class="menu-contents-item" ng-click="onItemClick('Services Item - 3')">Services Item - 3</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div ng-dropover ng-dropover-options="{'triggerEvent':'hover', 'closeOthersOnOpen':false}">
                        <div>Contact</div>
                        <div class="menu-item" ng-dropover-contents>
                            <div class="menu-items-border arrowed">
                                <div class="menu-contents-item" ng-click="onItemClick('Contact Item - 1')">Contact Item - 1</div>
                                <div class="menu-contents-item" ng-click="onItemClick('Contact Item - 2')">Contact Item - 2</div>
                                <div class="menu-contents-item" ng-click="onItemClick('Contact Item - 3')">Contact Item - 3</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <style>
    .space {
        margin: 50px;
    }
    .ngdo-contents {
        border: 1px solid #d14b2d;
        border-radius: 10px;
        width: 200px;
        background-color: #fbf4e1;
        box-shadow: 0px 5px 6px #888888;
    }
    .ngdo-contents.menu-item{
        border: none;
        border-radius: 0;
        width: auto;
        background-color: transparent;
        padding: none;
        box-shadow: none;
    }
    
    .css3 .ngdo-contents {
        -webkit-transition: all ease-in-out 0.5s;
        transition: all ease-in-out 0.5s;
        opacity: 0;
    }
    
    .css3.ngdo-open .ngdo-contents {
        opacity: 1;
    }
    
    div.arrowed:before,
    div.arrowed:after {
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
        border: 10px solid transparent;
    }
    
    div.arrowed:before {
        border-bottom-color: #fbf4e1;
        position: absolute;
        top: -19px;
        left: 20px;
        z-index: 2;
    }
    
    div.arrowed:after {
        border-bottom-color: #d14b2d;
        position: absolute;
        top: -20px;
        left: 20px;
        z-index: 1;
    }
    
    nav {
        margin: 50px;
        display: inline-block;
    }
    
    ul {
        overflow: auto;
        list-style-type: none;
        padding-left: 0;
    }
    
    li {
        float: left;
        margin-right: 0px;
        padding: 0 2px;
        border-right: 1px solid #6f2e1a;
    }
    
    li:last-child {
        border-right: none;
    }
    
    li > div {
        text-decoration: none;
        color: #d5a51e;
        font-size: 24px;
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;
        border: 2px solid #fff;
        width: 140px;
    }
    
    li > div:hover {
        color: #cd4525;
        background-color: #f4f1d7;
        border: 2px solid #cd4525;
        border-radius: 10px;
    }
    
    .menu-items-border {
        margin-top: 15px;
        color: #cd4525;
        background-color: #f4f1d7;
        border: 2px solid #cd4525;
        border-radius: 10px;
    }
    
    .menu-item {
        text-align: left;
    }
    
    .menu-contents-item {
        cursor: pointer;
        font-size: 18px;
        color: #d5a51e;
        padding: 6px;
    }
    
    .menu-contents-item:hover {
        color: #cf6720;
    }
    
    .sub-menu-items {
        width: 200px;
        padding-top: 0px;
    }
    
    .menu-items-border.arrowed:before,
    .menu-items-border.arrowed:after {
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
        border: 10px solid transparent;
    }
    
    .menu-items-border.arrowed:before {
        border-top-color: #fbf4e1;
        position: absolute;
        top: -2px;
        left: 60px;
        z-index: 2;
    }
    
    .menu-items-border.arrowed:after {
        border-top-color: #d14b2d;
        position: absolute;
        top: 0px;
        left: 60px;
        z-index: 1;
    }
    </style>
</div>
