<div class="perf">
<style type="text/css">
    .perf {
        min-height: 400px;
    }

	.ngdo {
		margin-bottom: 25px;
	}
    .ngdo button {
    	background: white;
    }

    .ngdo-contents {
    	background: white;
    	border: 1px solid black;
    }
</style>
    <button ng-click="addDropover()">Add new dropover</button>
    <button ng-click="openOld()">Open Old Dropovers</button>
    <div class="dropover-list">
    	<div ng-repeat="(id, _) in currentIds">
    		<button ng-click="removeDropover(id)">X</button>
    		<div ng-dropover="{{id}}">
    			<button>Click me</button>
    			<div ng-dropover-contents>
    				Contents
    			</div>
    		</div>
    	</div>
    </div>
</div>
